<?xml version="1.0" encoding="utf-8"?>
<Configuration>
	<Product>
		<Name>Namo CrossEditor</Name>
		<Logo></Logo>
		<Help></Help>
		<Info></Info>
	</Product>
	<General>
		<WebServerOS>UNIX</WebServerOS>
		<WebServerInfo>Jeus</WebServerInfo>
		<WebLanguage>JSP</WebLanguage>
		<ImageSavePath>/exploded/namo_images</ImageSavePath>
		<Width>720</Width>
		<Height>450</Height>
		<UploadFileNameType>real</UploadFileNameType>
		<UploadFileViewer></UploadFileViewer>
		<UploadFileSizeLimit></UploadFileSizeLimit>
		<UploadFileSubDir>true</UploadFileSubDir>
	</General>
	<Editor>
		<SetFocus>true</SetFocus>
		<LineHeight></LineHeight>
		<UnloadWarning>false</UnloadWarning>
		<SetDebug>false</SetDebug>
		<HTMLTabByTableLock>true</HTMLTabByTableLock>
		<HTMLTabContents>body</HTMLTabContents>
		<AccessibilityOption>0</AccessibilityOption>
	</Editor>
	<Document>
		<CharSet>auto</CharSet>
		<DocBaseURL></DocBaseURL>
		<DocTitle></DocTitle>
		<AllowContentScript>true</AllowContentScript>
		<AllowContentIframe>true</AllowContentIframe>
		<MSOfficeTranON></MSOfficeTranON>
		<PutStyleInBody></PutStyleInBody>
		<CheckNbspInPTag></CheckNbspInPTag>
		<AttrImage></AttrImage>
	</Document>
	<UI>
		<Skin>default</Skin>
		<UserSkinColor></UserSkinColor>
		<Css></Css>
		<UserToolbar>true</UserToolbar>
		<CreateToolbar></CreateToolbar>
		<CreateTab>0|1|2</CreateTab>
	</UI>
	<User>
		<AddMenu></AddMenu>
	</User>
	<randomseed>
		<randomfilename></randomfilename>
		<randomfoldername></randomfoldername>
	</randomseed>
</Configuration>
